

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #003366;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    font-size: 40px;
    background-color: #CCE5FF;
    color: #003366;
}

header nav {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color: #CCE5FF;
    font-weight: bolder;
}
nav a:hover{
    color: pink;
}

.beach {
    height: 380px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Reid.jpg");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
}

section h2 {
    flex-wrap: wrap;
    text-align: right;
    padding: 6px;
    border-right: 3px solid #003366;
    flex: 0 0 110px;
    font-size: 30px;
    font-weight: normal;
    font-family: Georgia, serif;
    color: #003366;
}
section div {
    flex: 0 0 75%;
}

#about-me {
    display: flex;
    margin-left: 3px;
}

p {
    padding: 10px 0px 5px 10px;
}

.about-me img {
    width: 18%;
    margin: 15px 0px 15px 5px;}

.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px 20px 5px;
}

.y{
    min-height: 176px;
    max-height: 176px;
    flex-basis: calc(50% - 1em);
    background-size: 100%;
    margin: 10px 0px 10px 10px;
}

.project-1{
    background-image: url('../images/Horiseon-Refactor.jpg');
   min-height: 400px;
   flex-basis: 100%;
}

.project-2 {
    background-image: url('../images/Portfolio-screenshot.png');
    min-height: 400px;
    flex-basis: 100%; 
}

.project-3 {
    background-image: url('../images/Assignment-3.jpg');
}

.project-4 {
    background-image: url('../images/Assignment-4.jpg');
}
/* h2 {
    text-align: right;
    margin-left: 5%;
    
}

p {
    margin: 0% 2% 0% 4%;
}




.work {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 7px 20px 20px;
}

.work h2 {
    border-right: 3px solid black;
}



.contact-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-me ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    list-style: none;
    margin: 0% 2% 0% 4%;
}

.contact-me li {
    display: inline-block;
    color: #CCE5FF;
    font-weight: bolder;
}
footer {
    display: flex;
    justify-content: center;
} */

@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}
