header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #003366;
    font-family: Georgia, serif;
}

header h1 {
    font-size: 40px;
    color: white;
}

header nav {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a {
    color: #CCE5FF;
    font-weight: bolder;
}


header ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

.beach {
    height: 380px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Reid.jpg");
    background-size: cover;
    background-position: center;
}

section {
    display: flex;
}


section h2 {
    flex-wrap: wrap;
    text-align: right;
    padding: 6px;
    border-right: 2px solid #003366;
    flex: 0 0 110px;
    font-size: 30px;
    font-weight: normal;
    font-family: Georgia, serif;
    color: #003366;
}
section div {
    flex: 0 0 75%;
}

#about-me {
    display: flex;
    margin-left: 3px;
}

p {
    padding: 10px 0px 5px 10px;
}

.about-me img {
    width: 18%;
    margin: 15px 0px 15px 5px;}


#work {
    display: flex;
    margin-left: 3px;
    
}

.one-hundred-percent {
    margin-top: 28px;
}
.one-hundred-percent img {
    width: 100%;
}

.fifty-percent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;
}

.fifty-percent img {
    width: 100%;
}

.y {
    flex-basis: calc(50% - 10px);
    margin: 10px 0px 10px 10px;
}

.contact-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 60px;
}

.contact-me a {
    text-decoration: none;
    color: #003366;
}
.contact-me ul {
    display: flex;
    justify-content: space-around;
   align-items: center;
    min-width: 300px;
    list-style: none;
    margin: 0% 2% 0% 4%;
}

.contact-me li {
    display: inline-block;
    color: #CCE5FF;
    font-weight: bolder;
}
footer {
    display: flex;
    justify-content: center;
}
/* h2 {
    text-align: right;
    margin-left: 5%;
    
}

p {
    margin: 0% 2% 0% 4%;
}




.work {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 7px 20px 20px;
}

.work h2 {
    border-right: 3px solid black;
}



.contact-me {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-me ul {
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    list-style: none;
    margin: 0% 2% 0% 4%;
}

.contact-me li {
    display: inline-block;
    color: #CCE5FF;
    font-weight: bolder;
}
footer {
    display: flex;
    justify-content: center;
} */

@media only screen and (min-width: 900px) {
section h2 {
    flex-wrap: wrap;
    text-align: right;
    padding: 0px 20px 0px 10px;
    margin-left: 55px;
    border-right: 2px solid #003366;
    flex: 0 0 138px;
    font-size: 36px;
    font-weight: normal;
    font-family: Georgia, serif;
    color: #003366;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    background-color: #003366;
    font-family: Georgia, serif;
}
}

@media only screen and (max-width: 768px) {
.beach{
    height: 262px;
    width: 100%;
    margin-bottom: 2px;
}
.about-me img {
    height: 70%;
    width: 30%;
    margin: 30px 0px 5px 10px;
}

.contact-me a {
    font-size: 12px;
}

.contact-me ul{
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 11px;
}
}

@media only screen and (max-width: 576px) {
header nav{
    padding-right: 1%;
}
header ul {
    min-width: 291px;
}
.beach{
    height: 160px;
    width: 100%;
    margin-bottom: 0px;
}
section {
    margin: 16px 0px;
section h2 {
    padding-right: 8px;
    margin: 0px 0px 0px 0px;
    border-right: 2px solid #003366;
    flex: 0 0 89px;
    font-size: 20px;
}
}
p {
    padding: 10px 0px 0px 10px;
    margin: 16px 0px 0px 0px;
}
.about-me img {
    height: 46%;
    width: 46%;
    margin: 30px 12px 5px 10px;
}

#work {
    margin-left: 0px;
}
}

@media only screen and (max-width: 500px) {
body{
    margin: 0;
}
    header {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
header h1{
    margin: 0;
}
header nav{
    margin: 0;
}

nav ul {
    padding-left: 0;
}

.beach {
    height: 140px;
    width: 100%;
    margin-bottom: 0px;
}
section div {
    flex: 0 0 70%;
}
}


